<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WfAppCore1.Properties.Settings.ConnectionString"
			connectionString="Host=localhost;Port=5432;Username=sa;Password=sa;Database=northwind;Timeout=5;"
			providerName="Npgsql" />
	</connectionStrings>
</configuration>